@using WebPoral.Models
@model DashboardViewmodel
@Scripts.Render("~/Scripts/Charts")
<h2>Dashboard</h2>
<style>
    .top-panel {
   
    }
    .frame {
        border: solid 1px #ddd;
        background-color: #fff;
        padding: 0 5px;     
        margin: 10px 0;
    }

        .frame:hover {
            background-color: #e4e7eb;
        }

    .box div {
        padding: 5px;
        color: #808080;
    }

        .box div:first-child {
            font-weight: bold;
            font-size: xx-large;
            background-color: #1abb9c;
            margin: 5px;
            border: solid 1px;
            display: inline-block;
            min-width: 60px;
            color: #fff;
            text-align:center;
        }
</style>

<div class="row top-panel">
    
        <div class="col-md-3 col-sm-6">
            <div class="frame">
                <h1>@Model.c1.CompartmentName</h1>
                @foreach (var item in Model.c1.lstService)
                {
                    <div class="box">
                        <div>@item.ServiceName</div>
                        <div>@item.lstHits.Count</div>
                    </div>
                }
                
            </div>
        </div>
    
    
  

</div>
<div class="chart col-md-10">
    <canvas id="canvas"></canvas>
</div>


<script>
    var chartData = {
        labels: ["January", "February", "March", "April", "May", "June", "July", "Aug", "Sept", "Oct"],

        datasets: [{
            type: 'bar',
            label: 'Dataset',
            backgroundColor: '#5e9edf',
            data: [40, 13, 55, 30, 50, 65, 44, 34, 55, 24]

        }]

    };
    window.onload = function () {
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myMixedChart = new Chart(ctx, {
            type: 'bar',
            data: chartData,
            options: {
                responsive: true,
                onClick:ckl,
                title: {
                    display: true,
                    text: 'Bar Chart'
                },
                tooltips: {
                    mode: 'index',
                    intersect: true
                }
            }
        });
    };
    function ckl()
    {
        alert('hi');
    }

</script>

