@{
    Layout = null;
}

<div class="col-md-3 left_col" style="background-color:#2a3f54;height:100vh;position:fixed">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Company Name</span></a>
        </div>
        <div class="clearfix"></div>
        <br />
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section active">
                <ul class="nav side-menu">
                    <li class="active">
                        <a href="#.html"><i class="fa fa-home"></i> Home </a>

                    </li>
                    <li>
                        <a><i class="fa fa-bar-chart-o"></i>  Menu 1 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#.html">Submenu 1</a></li>
                            <li><a href="#.html">Submenu 2</a></li>
                            <li><a href="#.html">Submenu 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-wrench"></i> Menu 2 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#.html">Submenu 1</a></li>
                            <li><a href="#.html">Submenu 2</a></li>
                            <li><a href="#.html">Submenu 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-comments-o"></i> Menu 3 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#.html">Submenu 1</a></li>
                            <li><a href="#.html">Submenu 2</a></li>
                            <li><a href="#.html">Submenu 3</a></li>
                        </ul>
                    </li>

                    <li>
                        <a><i class="fa fa-bug"></i> Menu 4 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#.html">Submenu 1</a></li>
                            <li><a href="#.html">Submenu 2</a></li>
                            <li><a href="#.html">Submenu 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-paw"></i> Menu 5 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#.html">Submenu 1</a></li>
                            <li><a href="#.html">Submenu 2</a></li>
                            <li><a href="#.html">Submenu 3</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>